<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
      <!--xmlns:g="http://xmlns.jcp.org/jsf/core">-->
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><h:outputText value="Exemplo SessionBean"></h:outputText></title>
    </h:head>
    <h:body>
        <h1>
            <h:outputText value="Exemplo SessionBean"></h:outputText>
        </h1>
        <p>
            
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Id" for="maria" />
                    <h:inputText id="maria" value="#{controlador.pessoa.id}" />
                    <h:outputLabel value="Nome" for="kkkk" />
                    <h:inputText id="kkkk" value="#{controlador.pessoa.nome}" />
                </h:panelGrid>
                <br />
                <h:commandButton action="#{controlador.salvar}" value="Salvar" />
            </h:form>
        </p>
    </h:body>
</html>

